{:cljs-version "1.8.51"
 :dependencies [[org.clojure/core.async "0.2.374"]]
 :builds {:viz {:src "src"
                :compiler {:main viz.core
                           :optimizations :none
                           :output-to "main.js"}}}}
